.body-fixed {
    position: fixed;
    margin-right: 20px;
}
.navbar {
    position: fixed;
    width: 100%;
    top: -20px;
    margin-left: auto;
}

video {
    width: 100%;
    object-fit: scale-down;
}