.body-fixed {
    position: fixed;
    margin-right: 20px;
}
.navbar {
    position: fixed;
    width: 100%;
    top: -20px;
    margin-left: auto;
}

.page-title {
    position: fixed;
    padding-top: 20%;
    padding-left: 10%;
}

video {
    width: 100%;
    object-fit: scale-down;
}