/* input[type="radio"] {
    display:none;
} */

/* .btn-group {
    position: relative;
    top: 22px;
    left: 100px;
}

.btn-primary {
    background-color: #000000;
    color: #ffffff;
}

.btn-primary:active {
    background-color: #ff0000;
    color: #000000;
}

.btn-secondary {
    background-color: #000000;
    color: #ffffff;
}

.btn-secondary:active {
    background-color: #ffffff;
    color: #000000;
} */