.flex-name {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.flex-description {
    margin-top: -20px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 200;
}

.flex-description, .flex-name, .places-description {
    text-align: left;
}

.places-description {
    position: relative;
    padding-top: 20px;
    padding: 20px;
}

.card {
    transition: all 0.25s ease-out;
}

.card:hover {
    transition: all 0.5s ease-in;
    -webkit-filter: blur(5px); /* Chrome, Safari, Opera */
    filter: blur(5px);
}

.grow {
    border-radius: 5px;
    max-height: 165px;
    width: 300px;
    float: left;
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: rgba(206, 206, 206, 0.2);
    transition: max-height 0.9s ease-out;
    transition-delay: 0.9s;
}

.grow:hover {
    max-height: 1500px;
    transition: max-height 0.5s ease-in;
    transition-delay: 0.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }