.flex-name {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
}

.places-description {
    position: relative;
    padding-top: 20px;
    text-align: left;
    padding: 20px;
}

.card:hover {
    transition: all 1s ease-in;
    -webkit-filter: blur(5px); /* Chrome, Safari, Opera */
    filter: blur(5px);
}

.grow {
    border-radius: 5px;
    height: 165px;
    width: 300px;
    float: left;
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: rgba(206, 206, 206, 0.2);
}

.grow:hover {
    height: fit-content;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }